<section id="abt">
  <div class="container-fluid about-style py-3" >
  <div class="row">
    <div class="col-md-10 col-12 mx-auto">
      <h1 class="text-center main-heading">About Us</h1>
  <p class="text-center sub-heading">Grow Your Bussiness with us!</p>

<div class="row">
<div class="col-md-6 col-12  ">
<figure>
  <img src="images/about.svg" alt="" class="img-fluid">
</figure>
</div>
{{!-- right side --}}
<div class="col-md-6 col-12 hero-text d-flex justify-content-center align-items-start flex-column">
<h1>We Are the Professional Developer 👌</h1>
<p>Welcome To <span class="sp">AnandTechnical.</span>
Your Number One Source for All The Things We are Dedicated to Giving You The Very Best Or Work With A 
Focus On [Three Charcterstics dependabilty Customer Services And Uniqueness]
</p>
<button class="btn-style btn-primary">Read More</button>
</div>

</div>

    </div>
  </div>
</div>
</section>