<section id="contactid">
  <div class="container-fluid contact-style py-3" >
  <div class="row">
    <div class="col-md-10 col-12 mx-auto">
      <h1 class="text-center main-heading ">Contact Us</h1>
  <p class="text-center sub-heading">We Will Be happy To help You</p>

<div class="row">


<div class="col-md-6 col-12 mx-auto">

<form action="/res" method="post">
<div class="mb-3">
    <label for="user" class="form-label">User Name</label>
    <input type="text" class="form-control" name="name"  required>
    
  </div>

  <div class="mb-3">
    <label for="exampleInputEmail1" class="form-label">Email address</label>
    <input type="email" class="form-control" name="email" aria-describedby="emailHelp" required>
    
  </div>
<div class="mb-3">
    <label for="phone" class="form-label">Phone</label>
    <input type="number" class="form-control" name="phone" required >
    
  </div>

  <div class="mb-3">
    <label for="message" class="form-label">Message</label>
    <input type="text" class="form-control" name="message" required>
  </div>
  <button type="submit" class="btn-style btn-primary">Submit</button>
</form>

</div>
</div>
</div>
</div>
</div>
</section>